<h4>Film - {{subject}}</h4>
				<br />
				<table class="table table-striped table-bordered">
					<textarea disabled class="txtConsigne" rows="5">{{consigne}}</textarea>
				</table>
				<br />
				<table>
					<tr>
						<td>
							<form action="{{ path('innova_forum_multimodal_homepage')}}" method="post">
								<input type="submit" class="btn btn-danger" name="ajout" style="position: static; float: right;" value="Retour"/>
							</form>
						</td>
						<td>
							<a class="open-AddBookDialog btn btn-danger" data-toggle="modal" href="#" data-id="0" onclick="javascript:afficher_cacher('FormulaireChoix',0,'haut');">Ajouter une contribution</a> 
						</td>
						<td>
							<a class="btn btn-danger">Tout lire</a> 
						</td>
					</tr>
						<tr>
							<td colspan="3">
							<br /><br />
							<div id="forFormChoix_0">
								<div id="FormulaireChoix" class="well">
									<form method="post" {{ form_enctype(form) }}>
								        <table>       
									        {% for child in form.Choix %}
									        	<div class="row">
									                <div class="span2">
									                  {{ form_widget(child) }}
									                </div>
									                <div class="span2">
									                  {{ form_label(child) }}
									                </div>
									                <div class="span2">
									                  {{ form_errors(child) }}
									                </div>
									            </div>
											{% endfor %}
								        </table>
								        {{ form_rest(form) }}

								        <input type="submit" value="Valider" class="btn btn-primary" />
								    </form>
								</div>
							</div>
							</td>
						
						</tr>
				</table>
				{% if countContribution < 2 %}
				  <h4>{{countContribution}} réponse</h4><br />
				{% else %}
				  <h4>{{countContribution}} réponses</h4><br />
				{% endif %}
				<table class="table table-striped table-bordered">
					<tr>
						<th style="width: 20%; text-align: center;">Profil</th>
						<th style="width: 40%; text-align: center;">Contribution</th>
						<th style="width: 40%; text-align: center;">En construction</th>
					</tr>
					{% for sons in listeContributions %}
					{# {{app.request.scheme ~  '://' ~  app.request.host ~asset('bundles/main/images/logo250.png')}} #}
					{# {{app.request.uri}} #}
					{# {{ app.request.getSchemeAndHttpHost() ~ app.request.baseUrl ~ sons}} #}
					{# {{asset("uploads/104315710.mp3")}} #}
					{# {{asset(sons)}} #}
					{# {{app.request.baseUrl ~ sons}} #}
					{# http://localhost/Symfony/web/uploads/104315710.mp3 #}
					<tr>
						<td>
							<span style="font-weight: bold; color: #1290D0;">{{sons.user}}</span><br />
						</td>
						<td>
							<span style="font-size: x-small;">Le {{sons.date|date("m/d/Y")}} à {{sons.time|date("H:i:s")}}</span><br />
								{% if sons.type == "oral" %}
								  <audio src="{{asset(sons.contents)}}" controls></audio></span><br />
								{% elseif sons.type == "fichier" %}
									{% if (sons.extension == "png") or (sons.extension == "jpg") or (sons.extension == "jpeg") or (sons.extension == "gif") %}
										<img src="{{ asset(sons.contents)}}" /><br />
									{% elseif (sons.extension == "txt") or (sons.extension == "pdf") %}
										<a href="{{asset(sons.contents)}}" target=_blank >Cliquer ici pour visualiser le fichier</a>
									{% elseif (sons.extension == "mp4") or (sons.extension == "avi") or (sons.extension == "ogv") or (sons.extension == "webm") %}
										<video width="500" height="400" src="{{asset(sons.contents)}}" controls></video></span><br />
									{% endif %}
								{% else %}
									  {{sons.contents | raw}}
								{% endif %}
						</td>
						<td>
							<br />
							<a class="open-AddBookDialog btn btn-danger" data-toggle="modal" href="#" data-id="{{sons.id}}" onclick="javascript:afficher_cacher('FormulaireChoix',{{sons.id}},'rien');">Réagir</a> 
							<span style="font-weight: bold; color: #1290D0;">Nombre de commentaires</span>
						</td>
					</tr>
					<tr>
					<td>
					</td>
					<td>
					</td>
					<td>
						<div id="forFormChoix_{{sons.id}}">
							
						</div>
					</td>
					</tr>
					{% endfor %}

				</table>
				<a class="open-AddBookDialog btn btn-danger" data-toggle="modal" href="#" data-id="0" style="position: static; float: left;" onclick="javascript:afficher_cacher('FormulaireChoix',0,'bas');">+</a> 
				<table>
					<tr>
						<td colspan="3">
						<br /><br />
							<div id="forFormChoix_bas">
										
							</div>
						</td>
					</tr>
				</table>
				<script type="text/javascript">
		        //<!--
			        afficher_cacher('FormulaireChoix',0,'rien');
		        //-->
		        </script>
