{% extends "InnovaForumMultimodalBundle::layout.html.twig" %}
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block bloc1 %}
{% include "InnovaForumMultimodalBundle:Forum:addFileCommentaire.html.twig" %}
{% include "InnovaForumMultimodalBundle:Forum:addTextCommentaire.html.twig" %}
{% include "InnovaForumMultimodalBundle:Forum:record_forum.html.twig" %}
<script>
function afficher_cacher(id,x,y)
    {
  		var contributionTexte = document.getElementById("idFather");
		contributionTexte.value = x;
		var contributionFile = document.getElementById("pereoufils");
		contributionFile.value = x;
		var contributionOral = document.getElementById("pereoufilsoral");
		contributionOral.value = x;
		// document.getElementById(id).style.visibility="hidden";
		if(y == "bas")
		{
			var idDivFormChoix ="forFormChoix_bas";
			var DivFormChoix = document.getElementById(idDivFormChoix);
			console.log(DivFormChoix);
			DivFormChoix.appendChild( document.getElementById(id) );

		}
		else
		{
			var div = document.createElement('div');
			div.setAttribute('id', 'forFormChoix_haut');
			var td = document.getElementById("tdChoix");
			td.appendChild( div );
			var idDivFormChoix ="forFormChoix_haut";
			var DivFormChoix = document.getElementById(idDivFormChoix);
			DivFormChoix.appendChild( document.getElementById(id) );
		}
        if(document.getElementById(id).style.visibility=="hidden")
        {
            document.getElementById(id).style.visibility="visible";
        }
        else
        {
            document.getElementById(id).style.visibility="hidden";
        }
        return true;
    }
</script>
			<br />
			<input type="hidden" id="idsujet" value="{{ idSubjectContribution }}"/>
			<table class="table table-striped table-bordered">
					<div class="alert-success">Ajouter un commentaire à :</div>
				</table>
				<table class="table table-striped table-bordered">
				<tr>
						<td class="text-center">
							{% if type == "oral" %}
								<img id="record" src="{{ asset('bundles/innovaforummultimodal/css/bootstrap/images/oral.png') }}" >
							{% elseif type == "fichier" %}
								<img id="record" src="{{ asset('bundles/innovaforummultimodal/css/bootstrap/images/depot.png') }}" >
							{% else %}
								<img id="record" src="{{ asset('bundles/innovaforummultimodal/css/bootstrap/images/texte.png') }}" >
							{% endif %}
						</td>
						<td>
							<span style="font-weight: bold; color: #1290D0;">Déposer par {{user}}</span><br />
							<span style="font-size: x-small;">Le {{date|date("m/d/Y")}} à {{time|date("H:i:s")}}</span><br />
						</td>
						<td style="vertical-align: middle;">
								{% if type == "oral" %}
								  <audio src="{{asset(contents)}}" controls></audio></span><br />
								{% elseif type == "fichier" %}
									{% if (extension == "png") or (extension == "jpg") or (extension == "jpeg") or (extension == "gif") %}
										<img src="{{ asset(contents)}}" /><br />
									{% elseif (extension == "txt") or (extension == "pdf") %}
										{% if lien == "null" %}
											<a href="{{asset(contents)}}" target=_blank >Cliquer ici pour visualiser le fichier</a>
										{% else %}
											  <a href="{{asset(contents)}}" target=_blank >{{lien}}</a>
										{% endif %}
									{% elseif (extension == "mp4") or (extension == "avi") or (extension == "ogv") or (extension == "webm") %}
										<video width="500" height="400" src="{{asset(contents)}}" controls></video></span><br />
									{% endif %}
								{% else %}
									  {{contents | raw}}
								{% endif %}
						</td>
					</tr>
					</table>

				<table>
					<tr>
						<td>
							<form action="{{ path('innova_forum_multimodal_voir_contribution',{ 'id': subject.id })}}" method="post">
								<input type="submit" class="btn btn-danger" name="ajout" style="position: static; float: right;" value="Retour"/>
							</form>
						</td>
						<td>
							<a class="open-AddBookDialog btn btn-danger" data-toggle="modal" href="#" data-id="0" onclick="javascript:afficher_cacher('FormulaireChoix',{{id}},'haut');">Ajouter</a> 
						</td>
					</tr>
					</table>
					<table>
					<tr>
						<td colspan="3" id="tdChoix">
						<br />
						</td>
					</tr>
					
				</table>
				{% if countContribution < 2 %}
				  <h4>{{countContribution}} commentaire</h4><br />
				{% else %}
				  <h4>{{countContribution}} commentaires</h4><br />
				{% endif %}
				<table>
					{% set compteur = 1 %}
					{% for sons in listeContributions %}
					<tr>
						<span style="font-size: medium;">{{compteur}}. Commentaire de {{sons.user}} (le {{sons.date|date("m/d/Y")}} à {{sons.time|date("H:i:s")}})</span>
						<br />
					</tr>
					<tr>
						<div class="well">
								{% if sons.type == "oral" %}
									<div class="span4">
									</div>
									<div class="span4">								
								  		<audio src="{{asset(sons.contents)}}" controls></audio></span><br />
								  	</div>
								  	
								{% elseif sons.type == "fichier" %}
									{% if (sons.extension == "png") or (sons.extension == "jpg") or (sons.extension == "jpeg") or (sons.extension == "gif") %}
										<img src="{{ asset(sons.contents)}}" /><br />
									{% elseif (sons.extension == "txt") or (sons.extension == "pdf") %}
										{% if sons.lien == "null" %}
											<a href="{{asset(sons.contents)}}" target=_blank >Cliquer ici pour visualiser le fichier</a>
										{% else %}
											  <a href="{{asset(sons.contents)}}" target=_blank >{{sons.lien}}</a>
										{% endif %}
									{% elseif (sons.extension == "mp4") or (sons.extension == "avi") or (sons.extension == "ogv") or (sons.extension == "webm") %}
										<video width="500" height="400" src="{{asset(sons.contents)}}" controls></video></span><br />
									{% endif %}
								{% else %}
									  {{sons.contents | raw}}
								{% endif %}
						</div>
					<br />
					</tr>
					{% set compteur = compteur + 1 %}
					{% endfor %}

				</table>
				<a class="open-AddBookDialog btn btn-danger" data-toggle="modal" href="#" data-id="0" style="position: static; float: left;" onclick="javascript:afficher_cacher('FormulaireChoix',{{id}},'bas');">Ajouter</a> 
				<table>
					<tr>
						<td colspan="3">
						<br /><br />
							<div id="forFormChoix_bas">
							<div id="FormulaireChoix" class="well">
									<h6><font color="blue">Ajouter un commentaire - Choix du type de commentaire</font></h6>
								        <table> 
								        <div class="row">
									                <div class="span4"> 
								       					 <a class="open-AddBookDialog btn btn-danger" data-toggle="modal" href="#" data-id="0" data-target="#Record" >Enregistrement audio</a>
								       				</div>
								       	</div>
								       	<br />
								       	<div class="row">
									                <div class="span4"> 
								       					 <a class="open-AddBookDialog btn btn-danger" data-toggle="modal" href="#" data-id="0" data-target="#texte" >Edition texte</a>
								       				</div>
								       	</div>
								       	<br />
								       	<div class="row">
									                <div class="span4">  
														<a class="open-AddBookDialog btn btn-danger" data-toggle="modal" href="#" data-id="0" data-target="#file">Dêpot fichier</a>    
													</div>
								       	</div> 
								        </table>
								</div>
										
							</div>
						</td>
					</tr>
				</table>
				<script type="text/javascript">
		        //<!--
			        afficher_cacher('FormulaireChoix',0,'bas');
		        //-->
		        </script>
{% endblock %}
